
/*BANNNNNERRRRRRRRRR MIO*/
.banner-inicio {
  min-height: 90vh;
  background-image: url("images/agus.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

.banner-inicio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.banner-inicio .container {
  position: relative;
  z-index: 2;
  text-align: center;
}






/*ESTAMPITAS*/

.estampa {
  height: 70px;
  margin-right: 20px;
  object-fit: cover;
}

.tira-movimiento {
  animation: mover 15s linear infinite;
}

.estampa {
  height: 70px;
  margin-right: 40px; /* MÁS separación */
  object-fit: cover;
}

.tira-movimiento {
  width: max-content;
  animation: mover 20s linear infinite;
}

@keyframes mover {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}




/*SOBRE MI COSAS*/
.sobre-mi {
  background-color: #f7f7f7;
}

.sobre-mi p {
  font-size: 1rem;
  line-height: 1.7;
}

.foto-sobre-mi {
  max-width: 320px;
  object-fit: cover;
}

.contacto-sobre-mi .btn {
  border-radius: 30px;
  padding: 8px 20px;
}
.sobre-mi {
  position: relative;
  overflow: hidden;
}

.sobre-mi .container {
  position: relative;
  z-index: 2;
}



/*VIVIENNE LOGO FONDO*/
.dibujo-fondo {
  position: absolute;

  left: -80px;
  bottom: -40px;

  width: 450px;

  opacity: 0.20;

  z-index: 0;

  pointer-events: none;
}



/*BRISSSTOL*/

.bristol {
  background-color: white;
}

.bristol-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.inclinada-izq {
  transform: rotate(-6deg);
}

.inclinada-der {
  transform: rotate(6deg);
}


.bristol-centro h2 {
  font-size: 2rem;
  font-weight: 500;
}

.bristol-info {
  max-width: 650px;
  margin: 0 auto;
}

.bristol-info p {
  font-size: 1rem;
  line-height: 1.7;
}

@media (max-width: 768px) {
  .bristol-img {
    height: auto;
    transform: rotate(0deg);
  }

  .bristol-centro {
    order: -1;
  }
}




/* POYECTTTTTTTTTTTTSSSSSSSSSSSSS!!!!! */
.titulo-proyecto {
  font-size: 5.8rem !important;
  font-weight: 200;
  margin-bottom: 50px !important;
}

.proyecto-borges {
  background-color: #f7f7f7;
  padding: 30px;
}

.logo-borges {
  max-width: 220px;
  margin-top: 10px;
}

.proyecto-img {
  width: 100%;
  height: 420px;
  object-fit: cover;

}



/*3DDDDDDDDDDDDDDDD*/
.proyecto-3d {
  background-color: #f7f7f7;
  ;
  padding: 30px;
}

.mini-axe {
  height: 120px;
  width: 100%;
  object-fit: cover;
  
}

.card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-footer {
  background-color: transparent;
  border-top: none;
}




/* FOTOS ANALOGGG */

#fotografia {
  width: 100%;
  margin: 0;
  padding: 0;
}

.banner-foto {
  width: 100%;
  min-height: 100vh;
  background-image: url("images/bannerfoto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  color: white;
  text-align: center;
}

.banner-foto::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.35);
}

.texto-banner-foto {
  position: relative;
  z-index: 2;
}

.texto-banner-foto h2 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.texto-banner-foto p {
  font-size: 1.5rem;
  font-weight: 300;
}

.foto-editorial {
  width: 100%;
  max-height: 650px;
  object-fit: cover;

}

.descripcion-foto {
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 300;
}

.tira-fotos {
  overflow: hidden;
}

.tira-fotos-movimiento {
  display: flex;
  width: max-content;
  animation: moverFotos 25s linear infinite;
}

.tira-reversa {
  animation-direction: reverse;
}

.foto-tira {
  height: 140px;
  width: 210px;
  object-fit: cover;
  margin-right: 35px;
}

@keyframes moverFotos {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .proyecto-img {
    height: 280px;
  }

  .mini-axe {
    height: auto;
  }

  .texto-banner-foto h2 {
    font-size: 3rem;
  }

  .texto-banner-foto p {
    font-size: 1.1rem;
  }

  .foto-editorial {
    max-height: none;
  }

  .foto-tira {
    width: 170px;
    height: 110px;
  }
}





/*PIE ULTIMO*/

footer {
  margin-top: 100px;
}

footer h5 {
  font-size: 1.5rem;
  font-weight: 600;
}

footer p {
  font-size: 0.95rem;
}

footer .btn {
  border-radius: 30px;
  padding: 10px 20px;
  transition: 0.3s ease;
}

footer .btn:hover {
  transform: translateY(-2px);
}




/*JS VOLVER AL INICIO*/
.volver-arriba {
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: none;
  z-index: 999;
}
html {
  scroll-behavior: smooth;
}
.card {
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}




.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}.bristol-img {
  width: 90%;
  height: auto;
  object-fit: cover;
}



/* ACHICAR borges */
.proyecto-borges,
.proyecto-3d {
  max-width: 900px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.proyecto-img {
  height: 300px !important;
  object-fit: cover;
}

.proyecto-3d .ratio {
  max-width: 800px;
  margin: 0 auto;
}



/**PARA HACER Q 3D QUEDE ABAJO DEL OTRO*//
@media (max-width: 768px) {
  .proyecto-3d .d-flex {
    flex-direction: column !important;
  }

  .mini-axe {
    width: 100% !important;
    height: auto !important;
    max-height: 260px;
    object-fit: cover;
  }
}

/*CARROUSEL DE ULT MOMENTO PARA 3D*/
.mini-axe {
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .mini-axe {
    height: 240px;
  }
}


/*FONDO GARABATOS BRISTOL*/
.bristol-fondo {
  position: relative;
}

.bristol-fondo::before {
  content: "";

  position: absolute;
  inset: 0;

  background-image: url("images/bristolfondo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 0.50;

  pointer-events: none;

  z-index: 5;
}

.bristol-fondo > * {
  position: relative;
  z-index: 2;
}
